.square {
  height: 50px;
  width: 50px;
  margin-top: 5px;
  margin-right: 5px;
  float: left;
  background: green;
}

.area {
  margin: auto;
  height: 400px;
  width: 400px;
  background: white;
}

.area-row:after {
  clear: both;
  content: "";
  display: table;
}

